<div class="container">
  <h2>Cursusoverzicht</h2>
  <div class="row">
    <div class="col-sm-3">
      <button class="btn"><< Vorige week</button>
    </div>
    <div class="col-sm-3 form-group-sm">
      <div class="col-sm-3">
        <label for="week-number">Week: </label>
      </div>
      <div class="col-sm-9">
        <input type="number" name="week-number" class="form-control width75" [(ngModel)]="week" id="week-number">
      </div>
    </div>
    <div class="col-sm-3 form-group-sm">
      <div class="col-sm-3">
        <label for="year-number">Jaar: </label>
      </div>
      <div class="col-sm-9">
        <input type="number" name="year-number" class="form-control width100" [(ngModel)]="year" id="year-number">
      </div>
    </div>
    <div class="col-sm-3">
    <button class="btn">Volgende week >></button>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Start</th>
      <th>Duur</th>
      <th>Titel</th>
    </tr>
    </thead>
    <tbody>
        <tr course-instance [courseInstance]="courseInstance"  *ngFor="let courseInstance of sortedCourseInstances"></tr>
    </tbody>
  </table>
</div>
