<div class="container">
  <h2>Cursusoverzicht</h2>
  <form class="form-horizontal">
    <div class="form-group col-sm-3">
      <button class="btn btn-primary" type="button" (click)="previousWeek()"><< Vorige week</button>
    </div>
    <div class="form-group col-sm-3">
        <label class="col-sm-3 control-label" for="week-number">Week: </label>
      <div class="col-sm-9">
        <input type="number" name="week-number" class="form-control width100" [(ngModel)]="week" (change)="onChange()" id="week-number">
      </div>
    </div>
    <div class="form-group col-sm-3">
        <label class="col-sm-3 control-label" for="year-number">Jaar: </label>
      <div class="col-sm-9">
        <input type="number" name="year-number" class="form-control width100" [(ngModel)]="year" (change)="onChange()" id="year-number">
      </div>
    </div>
    <div class="form-group col-sm-3 pull-right">
     <button class="btn btn-primary pull-right" type="button" (click)="nextWeek()">Volgende week >></button>
    </div>
    <div class="alert alert-danger col-sm-12" *ngIf="errorMessage">{{errorMessage}}</div>
  </form>
  <table class="table">
    <thead>
    <tr>
      <th>Start</th>
      <th>Duur</th>
      <th>Titel</th>
    </tr>
    </thead>
    <tbody>
        <tr course-instance [courseInstance]="courseInstance" class="course-instance" *ngFor="let courseInstance of sortedCourseInstances"></tr>
    </tbody>
  </table>
</div>
